/* Reseteo General */
* { /* <---- (*) significa que le aplicamos esta regla a todos los elementos HTML */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------*/

/* Tuneo de la Barra de Scroll porque queda lindo(? */
::-webkit-scrollbar { /* <---- Lo del webkit es para que sea compatible con Chrome */
    width: 10px; /* <---- Ancho de la barra */
}

::-webkit-scrollbar-thumb { /* El thumb es la parte de la barra de scroll que se mueve, o sea, el "botoncito" que agarrás y deslizás para bajar o subir la página. */
    background-color: #f080b8; /* <---- Color del scroll que se mueve */
    border-radius: 10px; /* <---- Bordes redondeados */
}

::-webkit-scrollbar-track { /*El track es el fondo de la barra*/
    background-color: #ffeaf4; /* <---- Color de fondo del scroll */
}
/*------------------------------------*/

/*Estilo del body*/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* <---- Esto evita que aparezca una barra de desplazamiento horizontal si algo se desborda del ancho */
}
/*------------------------------------------------------*/

/*Estilo del header*/
header { /* <---- Es el coso amarillo de arriba */
    display: flex;  /* <---- Organiza el contenido en fila con flexbox */
    justify-content: space-between;
    align-items: center;
    position: sticky; /* <---- Hace que el header quede fijo arriba cuando scrolleás sin usar position: fixed (épico) */
    top: 0;
    z-index: 1000; /* <---- Se asegura de que el header quede por encima de todo lo demás, para que no se superponga con otros elementos */
    background-color: #ffeba1;
    padding: 20px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); /* <---- Sombra suave debajo del header para que se destaque */
    transition: all 0.3s ease-in-out; /* <---- Le da suavidad a cualquier cambio de estilo que sufra el header */
}

header a { /* <---- Le saco el subrayado del link que tiene el h1 "Charlie Emily" al index */
    text-decoration: none;
}
/*------------------------------------*/

/*Estilo del h1*/
.titulo { /* <---- Es la estilización del "Charlie Emily"*/
    display: flex;
    font-family: 'Pacifico', cursive;
    font-weight: 200;
    font-size: 50px;
    color: #f080b8;
}
/*------------------------------------*/

/*Animación del h1*/
.titulo span { /* <---- Hace que cada letra del título aparezca como si se estuviera escribiendo una por una, con movimiento hacia arriba y rotación (GOD) */
    opacity: 0; /* <---- Al principio la letra está invisible */
    display: inline-block; /* <---- Hace que cada letra se comporte como un bloque en línea (así le podemos aplicar animaciones por separado) */
    transform: translateY(20px) rotate(20deg); /* <---- Cada letra empieza más abajo y girada, para que entre con estilo 😎 (carita fachera facherita) */
    animation: aparecer 0.5s ease-out forwards; /* <---- Aplica la animación que la va a hacer aparecer con suavidad */
}

.titulo span:nth-child(8) { /* <---- Lo del :nth-child() esa cosa rara es una pseudoclase que lo que hace es seleccionar el enésimo hijo, en este caso, el octavo <span> del h1 que es un espacio vacío */
    width: 20px;            /* <---- Agrega un espacio para separar "Charlie" de "Emily" */
}

.titulo span:nth-child(1) { animation-delay: 0s; } /* <---- Estas líneas hacen que cada letra aparezca con delay, así da el efecto como si se estuviera escribiendo una por una (o eso intenté :v) */
.titulo span:nth-child(2) { animation-delay: 0.1s; } /* <---- Cada número dentro del paréntesis del :nth-child() es una letra del "Charlie Emily", menos el 8 que es el espacio de separación */
.titulo span:nth-child(3) { animation-delay: 0.2s; }
.titulo span:nth-child(4) { animation-delay: 0.3s; }
.titulo span:nth-child(5) { animation-delay: 0.4s; }
.titulo span:nth-child(6) { animation-delay: 0.5s; }
.titulo span:nth-child(7) { animation-delay: 0.6s; }
.titulo span:nth-child(8) { animation-delay: 0.7s; }
.titulo span:nth-child(9) { animation-delay: 0.8s; }
.titulo span:nth-child(10) { animation-delay: 0.9s; }
.titulo span:nth-child(11) { animation-delay: 1s; }
.titulo span:nth-child(12) { animation-delay: 1.1s; }
.titulo span:nth-child(13) { animation-delay: 1.2s; }

@keyframes aparecer { /* <---- Esta es la animación en sí, hace que la letra pase de opaca y movida hacia abajo a verse completa en su lugar */
    to {              /* Lo del @keyframes es una regla de CSS que se usa para crear animaciones */
        opacity: 1;  /* <---- Hace que la letra se vuelva visible (antes estaba en 0, o sea invisible xd) */
        transform: translateY(0); /* <---- Mueve la letra de vuelta a su posición original en el eje Y (arriba/abajo), porque antes estaba abajo */
    }
}
/*-------------------------------------------------------*/

/*Estilo del nav*/
nav { /* <---- Es el contenedor del menú de navegación 🤓☝️ (Inicio, Sobre Mí, Proyectos y Contacto) */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffeba1;
    padding: 20px 40px;
}

nav ul { /* <---- Hace que la lista del menú (ul con li) quede horizontal por el display flex*/
    display: flex;
    list-style: none; /* <---- Le saco los puntitos */
    gap: 30px; /* <---- Espacio entre cada ítem del nav */
    justify-content: center;
    align-items: center;
}

nav a { /* <---- Los enlaces del menú: estilo del texto, sin subrayado y con ícono */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px; /* <---- Espacio entre el icono y el texto */
    position: relative; /* <---- Necesario para la animación del subrayado con ::after */
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease; /* <---- Transición para que el color cambie suavemente */
}

.material-symbols-rounded { /* Estilo de los íconos importados desde Google Fonts */
    font-family: 'Material Symbols Rounded';
    font-variation-settings:
    'FILL' 0, /* <---- Relleno (0 sin relleno, 1 con relleno) */
    'wght' 400,  /* <---- Peso del ícono */
    'GRAD' 0, /* <---- Gradiente (más fino o más grueso) */
    'opsz' 24;  /* <---- Tamaño óptico del ícono (? */
    font-size: 28px;
    vertical-align: middle;
    margin-right: 3 px;
}

/* ↓↓↓↓ Colores para cada icono */
.icon-inicio { 
    color: #ff8d8d;   
}

.icon-about {
    color: #7bb0e1;   
}

.icon-proyectos {
    color: #7bd58a;   
}

.icon-contacto {
    color: #b094f2;
}
/*---------------------------------------*/

/*Animación del nav*/
nav a::after { /* <---- La rayita que aparece abajo del texto (Inicio, Sobre Mí, Proyectos y Contacto) al pasar el mouse*/
    content: ''; /* <---- Esto crea un elemento vacío que se puede estilizar. Básicamente es la rayita mágica ✨ */
    position: absolute; /* <---- Posiciona la rayita con respecto al <a>, para que quede abajo del texto */
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background-color: #f080b8;
    transition: width 0.3s ease-in-out; /* <---- Esto hace que la rayita se anime al aparecer, en 0.3 segundos y de forma suave */
}

nav a:hover::after { /* <---- Cuando se pasa el mouse, la línea crece, se alarga */
    width: 100%;
}

nav a:hover .material-symbols-rounded { /* <---- También cambia de color el icono al pasar el mouse */
    color: #f080b8;
}
/*---------------------------------------*/

/*Estilo y Animación de la Sección de Bienvenida del index*/
.imagenes {
    position: relative;
    width: 120%;
    max-width: 1000px;
    height: auto; 
    aspect-ratio: 3 / 1;
}

.circulo {
    border-radius: 50%;
    width: 65%;  
    aspect-ratio: 1 / 1;
    object-fit: cover;
    position: absolute;
    transition: transform 0.4s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.foto {
    top: -130%;
    left: -3%;
    z-index: 2;
}

.gif {
    bottom: -90%;
    right: -15%;
    z-index: 1;
}

.circulo:hover { /* <---- Animación */
    transform: scale(1.1);
}

.bienvenida {
    width: 100%;
    height: auto;
    padding: 130px 40px 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #ffffff 30%, #ffffff 30%, #6edec7 30%, #6edec7 100%);
    box-sizing: border-box;
}

.texto-bienvenida {
    width: none;
    padding-left: 110px;
    line-height: 1;
}

.saludo {
    display: inline-block;
    font-size: 28px;
    font-family: 'Pacifico', cursive;
    color: #fff6c7;
    transform: rotate(-3deg); 
    margin-bottom: 10px;
}

.texto-bienvenida .nombre {
    color: #8562a2;
}

.portfolio {
    font-size: 48px;
    font-family: 'Pacifico', cursive;
    color: #f36ca0;
    display: block;
    margin-bottom: 30px;
    line-height: 1;
    margin-bottom: 20px
}

.texto-bienvenida p {
    font-family: 'Concert One', cursive;
    font-size: 45px;
    line-height: 1.3;
    color: #333;
}

.resaltado {
    font-weight: 600;
    color: transparent;
    -webkit-text-stroke: 1px #f78cbf;
}
/*-------------------------------------------------------------*/

/*Estilo del main*/
main { 
    font-family: 'Outfit', sans-serif;
    background-color: #fff;
    color: #333;
}

main h2 {
    font-size: 36px;
    color: #f080b8;
    margin-bottom: 20px;
}

main h3 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #555;
}

main h4 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #777;
}

main p {
    font-size: 18px;
    margin-bottom: 15px;
}

main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}
/*---------------------------------------*/

/* Estilo de la Sección de Contacto */
.contacto {
    position: relative; /* <---- Para que el fondo animado se posicione con respecto a este contenedor */
    overflow: hidden;   /* <---- Esconde cualquier parte del fondo que se desborde */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh; /* <---- Altura mínima del 85% del viewport (pantalla) */
    height: fit-content; /* <---- Se adapta al contenido si es más alto que el 85vh */
    z-index: 0; /* <---- Manda este contenedor por detrás de cosas con mayor z-index */
}
/*---------------------------------------*/

/* Fondo animado con movimiento de la Página de Contacto */
.contacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%; /* <---- Más ancho para que el fondo tenga espacio para moverse */
    height: 120%;
    background-image: url("../img/fondo-contacto.jpg");
    background-size: cover;
    background-repeat: repeat; /* <---- Se repite para que no se corte */
    background-position: center;
    z-index: -1; /* <---- Va detrás del formulario */
    animation: mover-fondo 40s linear infinite; /* <---- Animación fluida que se repite para simular parallax (Según Google: Parallax es un término que se refiere a un efecto visual o a una técnica de medición astronómica) */
}

@keyframes mover-fondo { /* <---- Animación para mover el fondo de la página de Contacto, el coso raro del transform: translate(x, y) es una propiedad que mueve un elemento desde su posición original, pero sin alterar el flujo del documento (o sea, no empuja ni choca con otros elementos). El primer valor (X) es el desplazamiento horizontal y el segundo valor (Y) es el desplazamiento vertical. */
    0%   { transform: translate(0, 0); }         /* Punto inicial, no se mueve */
    25%  { transform: translate(-10%, -5%); }    /* Se desplaza un poco a la izquierda y hacia arriba */
    50%  { transform: translate(-15%, -15%); }   /* Se desplaza más, nuevamente a la izquierda y hacia arriba */
    75%  { transform: translate(-5%, -10%); }    /* Se empieza a volver a la posición inicial */
    100% { transform: translate(0, 0); }        /* Vuelve al punto de partida */
}
/*---------------------------------------*/ 

/* Estilo del Formulario de Contacto */
.formulario-container {
    background-color: rgba(255, 255, 255, 0.95); /* <---- Fondo blanco semitransparente */
    padding: 40px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* <---- Sombra suave */
}

.formulario-container h2 { /* <---- Título del formulario "Contacto" */
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    color: #f080b8;
}

form input, 
form textarea { /* <---- Estilos de los Inputs y del Textarea */
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    background: transparent;
    outline: none; /* <---- Es para sacar el contorno que aparece automáticamente cuando hacés clic en un input (el borde azul en muchos navegadores) */
}

form textarea {  /* <---- Esto evita que el usuario pueda agrandar manualmente el tamaño del textarea desde la esquina inferior derecha (me re molesta el cosito ese)*/
    resize: none;
}

form ::placeholder { /* <---- Tuneamos el Placeholder para que la fuente quede igual que el resto de la página*/
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    color: #666;
}

form button { /* <---- Botón Enviar */
    background-color: #6edec7; 
    color: #333;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 8px;
    cursor: url("../img/cursor-pizza.png"), pointer; /* <---- Cambia el cursor al de una pizza cuando pasás el mouse por encima del botón (épico) y el pointer por las dudas que la pizza no se cargue */
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
}

form button:hover { /* <---- Botón Enviar cuando lo hoveo */
    background-color: #64cfb3;
}
/*---------------------------------------*/

/*Estilo del footer*/
footer { /* <---- Es el coso amarillo de abajo, incluyendo el estilo de la tipografía y la distribución en filas*/
    background-color: #ffeba1;
    color: #333;
    display: flex;
    justify-content:space-around;
    align-items: flex-start;
    padding: 30px 1px;
    flex-wrap: wrap;
    gap: 30px;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

footer section h3 { /* <---- Es el tuneo de las palabras "Contacto" y "Redes Sociales"*/
    font-size: 30px;
    margin-bottom: 15px;
    color: #f080b8;
}
footer ul { /* <---- Listas del footer sin puntitos ni márgenes */
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li { /* <---- Cada ítem del footer con ícono y texto en fila */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

footer li img { /* <---- Tamaño estándar para todos los íconos de contacto */
    width: 50px;
    height: 50px;
}

footer section p { /* <---- Texto final de derechos y agradecimiento */
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-top: 5px;
}

footer section:nth-child(2) ul { /* <---- Alineación horizontal de los íconos de redes */
    display: flex;
    gap: 20px;
}

footer section:last-child { /* <---- Hace que el texto del final se centre y ocupe todo el ancho */
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

/* Animación del Footer */
footer a img {
    transition: transform 0.3s ease, filter 0.3s ease; /* <---- Aplica transición suave al pasar el mouse */
}

footer a:hover img {
    transform: scale(1.1); /* <---- Agranda el ícono al hacer hover */
    filter: brightness(1.2) hue-rotate(10deg); /* <---- Le da un toque de brillo y cambia sutilmente el color */
}
/*------------------------------------------------------*/
